<h1>Invitation #<%= @invitation.id %></h1>

<p>
  <b>Host:</b>
  <%= @invitation.host_id %>
</p>

<p>
  <b>Name:</b>
  <%= @invitation.name %>
</p>

<p>
  <b>Email:</b>
  <%= @invitation.email %>
</p>

<p>
  <b>Rsvp:</b>
  <%= @invitation.rsvp %>
</p>


